<div class="p-5">

  <h1>Boards</h1>

  <div id="boards">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>

      <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= link_to board.name, board %></td>
          <td><%= board.email%></td>
          <td><%= board.created_at%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New board", new_board_path, class: "btn btn-primary"%>
  <%= link_to "View all generated boards", boards_path(view_all: true), class: "btn btn-primary"%>
</div>
